body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("./assets/fundo.png");
  height: 100%;
  width: 100vw;
}
.bgimg-2 {
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
  background-image: url("./assets/fundo_small.png");
  height: 70%;
  width: 100vw;
}

.w3-bar .w3-button {
  padding: 16px;
  
}
.w3-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.w3-modal{
  padding-top: 0 !important;
}
.w3-jumbo {
  background: transparent;  
  font-size: 40px !important 
}
.logo{
    justify-content: start;
    display: flex;
}
.logo img{
    width: 20%;
}
.w3-row-padding{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Styles for screens where the width is greater than the height (landscape orientation) */
/* Styles for screens in landscape orientation (width greater than height) */
@media screen and (min-aspect-ratio: 1/1) {
  .header-small {
    display: none;  /* Esconde o header para telas pequenas em orientação paisagem */
  }
}

/* Styles for screens in portrait orientation (height greater than width) */
@media screen and (max-aspect-ratio: 1/1) {
  .header-large {
    display: none;  /* Esconde o header para telas grandes em orientação retrato */
}
}
